<mat-sidenav-container>
  <mat-sidenav #snav>
    <mat-list>


      <div *ngFor="let item of navServiceList.children">
        <div *ngIf="item.children.length === 0; else hasChildren">
          <a [routerLink]="[item.route]" (click)="onItemClicked()">
            <mat-list-item>
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              <div matListItemTitle class="item-text">{{ item.displayName }}</div>
            </mat-list-item>
          </a>
        </div>
        <ng-template #hasChildren>
          <mat-list-item>
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <div matListItemTitle class="item-text">{{ item.displayName }}</div>
          </mat-list-item>
          <mat-list>
            <div *ngFor="let childItem of item.children">
              <a [routerLink]="[childItem.route]" (click)="onItemClicked()">
                <mat-list-item class="child-items">
                  <mat-icon matListItemIcon>{{ childItem.icon }}</mat-icon>
                  <div matListItemTitle class="item-text">{{ childItem.displayName }}</div>
                </mat-list-item>
              </a>
            </div>
          </mat-list>
        </ng-template>
      </div>
    </mat-list>

    <button mat-button (click)="onLoggedoutClicked()"><mat-icon>logout</mat-icon> Logout</button>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z8">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon style="color: #fab73f;">menu</mat-icon>
      </button>
      <span>My App</span>
    </mat-toolbar>

    <main>
      <div class="mat-elevation-z8 content">
        <router-outlet></router-outlet>

      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
