.main{
    min-height: 100vh;
    display:flex;
    justify-content:center;
    background-color:rgb(228, 220, 220);
    align-items:center;


}
.login-card{
    min-width:400px;
    max-width:900px;
    min-height:300px;
  box-shadow: 5px 10px  16px #838080;
padding:16px;
background-color: white;
flex-direction : column;
display:flex;
align-items: center;
justify-content: center;
gap: 10px;}

h3{
text-align:center;
font-size: 1.2rem;
font-weight: 500;
}
.filed-width{
  width: 400px;
}
button{
width: 80px;

}
