<div class="main">
    <div class='login-card'>
<h3>login</h3>

  <mat-form-field appearance="outline" class="filed-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email">
  </mat-form-field>

  <mat-form-field appearance="outline" class="filed-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password">
  </mat-form-field>
  <a [routerLink]="['/auth/signup']">create account</a>
  <button mat-raised-button color="primary" (click)="onloginClicked()">Login </button>
    </div>

</div>


